[submodule "rusty-loader"]
	path = rusty-loader
	url = git@github.com:hermitcore/rusty-loader.git
[submodule "uhyve"]
	path = uhyve
	url = git@github.com:hermitcore/uhyve.git
[submodule "echo-hermit/tiny-http"]
	path = echo-hermit/tiny-http
	url = git@github.com:hermitcore/tiny-http.git
[submodule "tiny-http"]
	path = tiny-http
	url = git@github.com:hermitcore/tiny-http.git
[submodule "libhermit-rs"]
	path = libhermit-rs
	url = git@github.com:hermitcore/libhermit-rs.git
[submodule "hermit-template-rs"]
	path = hermit-template-rs
	url = git@github.com:sassman/hermit-template-rs.git
