[submodule "rusty-loader"]
	path = rusty-loader
	url = git@github.com:hermitcore/rusty-loader.git
[submodule "uhyve"]
	path = uhyve
	url = git@github.com:hermitcore/uhyve.git
[submodule "echo-hermit/tiny-http"]
	path = echo-hermit/tiny-http
	url = git@github.com:hermitcore/tiny-http.git
[submodule "tiny-http"]
	path = tiny-http
	url = git@github.com:hermitcore/tiny-http.git
